/*Header*/

.card-body {
    background: #fcfaeb;
}

blockquote {
    background: url(../images/paper.webp) no-repeat center center/cover; ;
    font-family: var(--quote-font);
    font-size: 2rem !important;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev

/* .carousel-indicators */
    {
    filter: invert(100%);
}

/*Manage stress section*/
.card-bg-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/music.webp) no-repeat center center/cover;
    color: white;
}

.card-bg-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/walk.webp) no-repeat center center/cover;
    color: white;
}

.card-bg-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/breathing.webp) no-repeat center center/cover;
    color: white;
}

.card-bg-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/journal.webp) no-repeat center center/cover;
    color: white;
}

.card-bg-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/hot-drink.webp) no-repeat center center/cover;
    color: white;
}

.card-bg-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/compassion.webp) no-repeat center center/cover;
    color: white;
}